/* Variables */

:root {
    --black: #000000;
    --blue: #282A3A;
    --yellow: #735F32;
    --hay: #C69749;
}

/* End of Variables */

/* Animations */

@-webkit-keyframes buttonAnimation {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1) rotateZ(5deg);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes popUp {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) translate3d(0, 0, 0);
    }
}

@keyframes popOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate(-50%, -50%) translate3d(0, 100%, 0);
    }
}

/* End of Animations */

/* Elements */

body {
    margin: 0;
    background-color: var(--black);
}

::-webkit-scrollbar {
    display: none;
}

textarea {
    resize: none;
}

textarea::placeholder {
    color: var(--hay);
    opacity: 0.3;
}

button {
    position: fixed;
    left: 50%;
    top: calc(50% + 30vh);
    transform: translate(-50%, -50%);
    background-color: var(--yellow);
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: larger;
    color: var(--black);
    font-weight: bold;
    box-shadow: 0 0 10px var(--blue);
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

img {
    position: absolute;
    top: 15vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

/* End of Elements */

/* Classes */

.animated {
    -webkit-animation-name: buttonAnimation;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: 1;
}

/* End of Classes */

/* ID's */

#textArea {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: xxx-large;
    padding: 15vh 10vw;
    background-color: transparent;
    border: solid 3px var(--yellow);
    border-radius: 25px 0 25px 0;
    transition-property: border, border-radius, opacity;
    transition-duration: 0.4s;
    outline: none !important;
    color: var(--hay);
}

#textArea:focus-visible {
    border: solid 6px var(--blue);
    border-radius: 0 25px 0 25px;
    transition-property: border, border-radius;
    transition-duration: 0.4s;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--yellow);
    padding: 10px;
    border-radius: 15px;
    color: var(--blue);
    font-size: large;
    font-weight: bolder;
    opacity: 0;
    animation-duration: 0.4s;
}

/* End of ID's */


