/* Variables */

:root {
    --black: #222222;
    --grey: #434242;
    --hay: #735F32;
    --cyan: #22A39F;
    --white: #F3EFE0;
}

/* End of Variables */

/* Animations */

@-webkit-keyframes buttonAnimation {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1) rotateZ(5deg);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes popUp {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) translate3d(0, 0, 0);
    }
}

@keyframes popOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate(-50%, -50%) translate3d(0, 100%, 0);
    }
}

/* End of Animations */

/* Elements */

body {
    margin: 0;
    background-color: var(--black);
    transition-duration: 1500ms;
    transition-timing-function: ease-in-out;
}

::-webkit-scrollbar {
    display: none;
}

textarea {
    resize: none;
}

textarea::placeholder {
    color: var(--white);
    opacity: 0.3;
}

button {
    position: fixed;
    left: 50%;
    top: calc(50% + 30vh);
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: larger;
    color: var(--black);
    font-weight: bold;
    box-shadow: 0 0 10px var(--white);
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

img {
    position: absolute;
    top: 15vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

/* End of Elements */

/* Classes */

.darkMode {
    background-color: white !important;
}

.animated {
    -webkit-animation-name: buttonAnimation;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: 1;
}

/* End of Classes */

/* ID's */

#textArea {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: xxx-large;
    padding: 15vh 10vw;
    background-color: transparent;
    border: solid 3px var(--grey);
    border-radius: 25px 0 25px 0;
    transition-property: border, border-radius, opacity;
    transition-duration: 0.4s;
    outline: none !important;
    color: var(--cyan);
}

#textArea:focus-visible {
    border: solid 6px var(--cyan);
    border-radius: 0 25px 0 25px;
    transition-property: border, border-radius;
    transition-duration: 0.4s;
}

#textArea:focus-visible + #sendButton {
    background-color: var(--cyan);
    box-shadow: 0 0 10px var(--cyan);

}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--grey);
    padding: 10px;
    border-radius: 15px;
    color: var(--white);
    font-size: large;
    font-weight: bolder;
    opacity: 0;
    animation-duration: 0.4s;
}

#switchHolder {
    position: absolute;
    height: 50px;
    width: 100px;
    padding: 25px;
    top: 5vh;
    right: 5vh;
    border: var(--grey) solid 3px;
    border-radius: 25px;
}

#themeSwitch {
    position: relative;
    height: 50px;
    width: 50px;
    margin-left: 0;
    background: var(--hay);
    border: dashed 2px var(--white);
    border-radius: 50%;
    transition-duration: 1500ms;
    transition-timing-function: ease-in-out;

    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

/* End of ID's */


